@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans:wght@300&family=Russo+One&display=swap');

h1,
h2,
h3,
.text1 {
  /* font-family: 'Russo One', sans-serif; */
  font-family: 'DM Serif Display', serif;
}

* {
  font-family: 'Open Sans', sans-serif;
}

input[type='checkbox'] {
  zoom: 1.5; /*Desired width*/
  cursor: pointer;
  /* -webkit-appearance: none;
  appearance: none; */
}
